@font-face {
  font-family: "iconfont"; /* Project id 4596234 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4596234_7hmum9np8ry.woff2?t=1719582763456') format('woff2'),
       url('//at.alicdn.com/t/c/font_4596234_7hmum9np8ry.ttf?t=1719582763456') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\eb78";
}

.icon-mocha:before {
  content: "\e695";
}

.icon-bingsha:before {
  content: "\e698";
}

.icon-cha:before {
  content: "\e6a1";
}

.icon-shizi:before {
  content: "\e6bd";
}

.icon-a-048_pengyouquan:before {
  content: "\e6f7";
}

.icon-regou:before {
  content: "\e661";
}

.icon-shupian:before {
  content: "\e68e";
}

.icon-huafubing:before {
  content: "\e68f";
}

.icon-pisa:before {
  content: "\e69a";
}

.icon-shengjian:before {
  content: "\e6ad";
}

.icon-jiroujuan:before {
  content: "\e6ce";
}

.icon-bijiben:before {
  content: "\e632";
}

.icon-food-strawberry:before {
  content: "\e602";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-GitHub:before {
  content: "\e605";
}

.icon-youlian:before {
  content: "\e600";
}

.icon-wenzhang:before {
  content: "\ecb3";
}

.icon-bangbangtang:before {
  content: "\e690";
}

.icon-pijiu:before {
  content: "\e6bf";
}

.icon-wangyiyunyinle:before {
  content: "\eb7d";
}

.icon-aixin:before {
  content: "\e62f";
}

.icon-biaoqian:before {
  content: "\e631";
}

.icon-sousuo:before {
  content: "\e633";
}

.icon-shuben:before {
  content: "\e634";
}

.icon-xiangji:before {
  content: "\e635";
}

.icon-guidang:before {
  content: "\e636";
}

.icon-home:before {
  content: "\e647";
}

